.common {
	text-align: center;
	padding: 40px;
}

#logo {
	width: 120px;
	height: 120px;
}

#content {
	max-width: 480px;
	margin: 30px auto;
	padding: 15px;
	line-height: 1.6;
	font-size: 24px;
}

#bottom {
	font-size: 12px;
}